@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome </h1>
    
    
    <form asp-action="Process" asp-controller="Home" method="post">
        <input name ="name" required  />
        <input type="submit"/>
    </form>

</div>

